<!DOCTYPE html>
<html lang="en">

  {% include 'includes/frontend/head.html' %}

  <body>
    <!-- Preloader -->
        {% include 'includes/frontend/preloader.html' %}
    <!-- Header Area -->
        {% include 'includes/frontend/header.html' %}
    <!-- Header Area -->
    
    
    {% block content %}
      
    {% endblock content %}
      

    <!-- Footer Area -->
        {% include 'includes/frontend/footer.html' %}
    <!-- Footer Area -->

    <!--Scroll to top-->
    <a href="index.html#" class="scrollToTop">
      <img src="assets/images/scroll.svg" alt="" />
    </a>

        {% include 'includes/frontend/scripts.html' %}

  </body>
</html>
