{% extends 'layouts/frontend_base.html' %}

{% load static %}

{% block content %}

    <main>
      <!-- Banner Area -->
      <section class="banner-area">
        <div class="container">
          <div class="row flex-column-reverse flex-md-row align-items-center">
            <div class="col-md-6">
              <div class="banner-left">
                <h1>
                  Delitefull Delivery
                  <span>
                    Hassle Free
                    <svg width="225" height="16" viewBox="0 0 225 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M224.931 15.1987C151.063 1.40293 47.4825 6.23252 4.92601 10.3718L0.241161 6.21004C91.4615 -6.66766 188.043 6.83677 224.931 15.1987Z"
                        fill="#EC595A"
                      />
                    </svg>
                    
                  </span>
                </h1>
                <p class="banner-para">
                  The preferred choice for digital business owners in Ghana
                </p>
                <a href="{% url 'book-delivery' %}" class="btn btn-red">Book A Delivery</a>
                  
              </div>
            </div>
            <div class="col-md-6">
              <div class="banner-right">
                <span class="banner-shapes wow fadeInDownBig"></span>
                <img class="banner-shapes4 wow fadeInLeft" src="{% static 'assets/images/shape/index.svg' %}" alt="Shape Image" />
                <img class="banner-shapes5 wow fadeInRightBig" src="{% static 'assets/images/shape/banner-shape5.svg' %}" alt="Shape Image" />
                <img class="banner-shapes6 wow fadeInDown" src="{% static 'assets/images/shape/banner-shape2.svg' %}" alt="Shape Image" />
                <img class="banner-shapes7 wow fadeInRightBig" src="{% static 'assets/images/shape/banner-shape6.svg' %}" alt="Shape Image" />
              </div>
            </div>
          </div>
        </div>
        <!-- <img class="banner-shape-2" src="{% static 'assets/images/shape/bg-shape-2.png' %}" alt="Pricing Banner Shape"> -->
      </section>
      <!-- Banner Area -->      

      <!-- Features Area -->
      <section class="features section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="features-image">
                <img src="{% static 'assets/images/features/feature.png' %}" alt="Features Image" />
                <img
                  src="{% static 'assets/images/features/features-object-1.svg' %}"
                  alt="Features Object"
                  class="features-object1 object-element"
                  data-paroller-factor="0.1"
                  data-paroller-type="foreground"
                  data-paroller-direction="horizontal"
                  data-paroller-transition="transform .2s linear"
                />
                <img src="{% static 'assets/images/features/features-object-2.svg' %}" alt="Features Object" class="features-object2" />
                <img
                  class="features-object3 object-element"
                  data-paroller-factor="0.05"
                  data-paroller-type="foreground"
                  data-paroller-direction="horizontal"
                  data-paroller-transition="transform .2s linear"
                  src="{% static 'assets/images/features/features-object-3.svg' %}"
                  alt="Features Object"
                />
                <img
                  src="{% static 'assets/images/features/features-object-4.svg' %}"
                  alt="Features Object"
                  class="features-object4 object-element"
                  data-paroller-factor="0.05"
                  data-paroller-type="foreground"
                  data-paroller-transition="transform .2s linear"
                />
                <img
                  src="{% static 'assets/images/features/features-object-5.svg' %}"
                  alt="Features Object"
                  class="features-object5 object-element"
                  data-paroller-type="foreground"
                  data-paroller-factor="0.1"
                  data-paroller-transition="transform .2s linear"
                />
                <div class="round-object"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="features-content">
                <h2>Build customer loyalty</h2>
                <h3>
                  Your One-Stop Solution for Quick, Reliable, and 
                  <span>Convenient Service</span>
                </h3>
                <p>
                  Building Customer Loyalty Made Easy: Unleash the Power of our Delivery WebApp
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Features Area -->

      <!-- Why Choose us Area -->
      <section class="why-choose section-padding">
        <div class="container">
          <div class="why-choose-wrapper">
            <div class="row">
              <div class="col-md-4 wow fadeInUp animate__faster">
                <div class="why-choose-item">
                  <div class="why-choose-icon">
                    <img src="{% static 'assets/images/icon/icon.svg' %}" alt="Why Choose Icon" />
                  </div>
                  <h4>Always at your fingertips.</h4>
                  <p>Managing deliveries doesn’t get easier. 
                    Get updates and track your delivery in real-time with the Swoove app.</p>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp animate__fast">
                <div class="why-choose-item">
                  <div class="why-choose-icon">
                    <img src="{% static 'assets/images/icon/icon-2.svg' %}" alt="Why Choose Icon" />
                  </div>
                  <h4>Keep customers returning.</h4>
                  <p>Customers rate our delivery 9.5 on 10.0. Crafting delightfull
                    customer experience begins wit us
                  </p>
                </div>
              </div>
              <div class="col-md-4 wow fadeInUp">
                <div class="why-choose-item">
                  <div class="why-choose-icon">
                    <img src="{% static 'assets/images/icon/icon-3.svg' %}" alt="Why Choose Icon" />
                  </div>
                  <h4>Flexible Delivery options.</h4>
                  <p> You schedule, we deliver. Choose your preferred option and we will make it work for you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why Choose us Area -->     

      <!-- Features Area Five -->
      <section class="features-area-five section-padding wow fadeInUp animate__fast">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-center">
                <h2 class="mt-n4">Book Deliveries From Anywhere</h2>
              </div>
              <div class="feature-image">
                <img src="{% static 'assets/images/features/feature-5.png' %}" alt="Features Image" />
                <img src="{% static 'assets/images/features/features-8.png' %}" alt="Features Image" class="features8" />
                <img src="{% static 'assets/images/features/features-9.png' %}" alt="Features Image" class="features9" />              
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Features Area Five -->     

      <!-- Testimonial Area -->
      <section class="testimonial-area testimonial-area-two bg-white-800 wow fadeInUp animate__fast">
        <div id="testimonial-2" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-review">
                <i class="fas fa-quote-left"></i>
                <p>
                  Exceptional service! The delivery courier service provided by this company exceeded my expectations. 
                  The package arrived promptly and in perfect condition.
                  <span> I highly recommend their reliable and efficient services.</span>
                </p>
                <div class="testimonial-author">
                  <div class="testimonial-author-image">
                    <img src="{% static 'assets/images/testimonial/testimonial-1.jpg' %}" alt="Testimonial" />
                  </div>
                  <div class="testimonial-author-name">
                    <h4>James</h4>
                    <span>Manager, iGoodsGH</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-review">
                <i class="fas fa-quote-left"></i>
                <p>
                  Outstanding delivery experience! This courier service truly understands the importance of customer satisfaction. 
                  From start to finish, they handled my package with care and professionalism.
                  <span>Their tracking system kept me updated throughout the process. I'm definitely using their services again!.</span>
                </p>
                <div class="testimonial-author">
                  <div class="testimonial-author-image">
                    <img src="{% static 'assets/images/testimonial/testimonial-1.jpg' %}" alt="Testimonial" />
                  </div>
                  <div class="testimonial-author-name">
                    <h4>Racheal</h4>
                    <span>CEO, AbabaawaShop</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-review">
                <i class="fas fa-quote-left"></i>
                <p>
                  Reliable and trustworthy! I've tried several delivery courier services in the past, but this one stands out. They consistently deliver on time, 
                  and their customer support is top-notch. They go above and beyond to ensure a smooth and hassle-free delivery.
                  <span>Highly satisfied!</span>
                </p>
                <div class="testimonial-author">
                  <div class="testimonial-author-image">
                    <img src="{% static 'assets/images/testimonial/testimonial-1.jpg' %}" alt="Testimonial" />
                  </div>
                  <div class="testimonial-author-name">
                    <h4>Linda</h4>
                    <span>Manager, CHF logistics</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonial Area -->

      <!-- FAQs Area -->
      <section class="faq-area wow fadeInUp animate__fast">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-center">
                <h2 class="font-bold mt-n3 mt-md-n4">Frequently asked questions</h2>
                <p>Aenean amet netus aliquam elit eu, sagittis id natoque id. Purus augue fermentum dui aliquam dui vel.</p>
              </div>
            </div>
            <div class="col-12">
              <div class="accordion" id="projectAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="project-headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#project-collapseOne"
                      aria-expanded="false"
                      aria-controls="project-collapseOne"
                    >
                      <span>Q1.</span> How can i use Landpagy?
                    </button>
                  </h2>
                  <div id="project-collapseOne" class="accordion-collapse collapse" aria-labelledby="project-headingOne" data-bs-parent="#projectAccordion">
                    <div class="accordion-body">
                      <p>
                        Follow these 6 steps and you’ll get your Help Scout account up and running in no time. If you'd like to get a full tour of Help Scout
                        and all its features, attend one of our weekly live demos or take a video tour.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="project-headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#project-collapseTwo"
                      aria-expanded="false"
                      aria-controls="project-collapseTwo"
                    >
                      <span>Q2.</span> When should I use a Tag?
                    </button>
                  </h2>
                  <div id="project-collapseTwo" class="accordion-collapse collapse" aria-labelledby="project-headingTwo" data-bs-parent="#projectAccordion">
                    <div class="accordion-body">
                      <p>
                        Follow these 6 steps and you’ll get your Help Scout account up and running in no time. If you'd like to get a full tour of Help Scout
                        and all its features, attend one of our weekly live demos or take a video tour.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="project-headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#project-collapseThree"
                      aria-expanded="false"
                      aria-controls="project-collapseThree"
                    >
                      <span>Q3.</span> How can I make all this less work?
                    </button>
                  </h2>
                  <div id="project-collapseThree" class="accordion-collapse collapse" aria-labelledby="project-headingThree" data-bs-parent="#projectAccordion">
                    <div class="accordion-body">
                      <p>
                        Follow these 6 steps and you’ll get your Help Scout account up and running in no time. If you'd like to get a full tour of Help Scout
                        and all its features, attend one of our weekly live demos or take a video tour.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="project-headingFour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#project-collapseFour"
                      aria-expanded="false"
                      aria-controls="project-collapseFour"
                    >
                      <span>Q3.</span> What’s up, Docs?
                    </button>
                  </h2>
                  <div id="project-collapseFour" class="accordion-collapse collapse" aria-labelledby="project-collapseFour" data-bs-parent="#projectAccordion">
                    <div class="accordion-body">
                      <p>
                        Follow these 6 steps and you’ll get your Help Scout account up and running in no time. If you'd like to get a full tour of Help Scout
                        and all its features, attend one of our weekly live demos or take a video tour.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="project-headingFive">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#project-collapseFive"
                      aria-expanded="false"
                      aria-controls="project-collapseFive"
                    >
                      <span>Q3.</span> What’s up, Docs?
                    </button>
                  </h2>
                  <div id="project-collapseFive" class="accordion-collapse collapse" aria-labelledby="project-collapseFive" data-bs-parent="#projectAccordion">
                    <div class="accordion-body">
                      <p>
                        Follow these 6 steps and you’ll get your Help Scout account up and running in no time. If you'd like to get a full tour of Help Scout
                        and all its features, attend one of our weekly live demos or take a video tour.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- FAQs Area -->
     
    </main>
    
{% endblock content %}
    