{% extends 'layouts/frontend_base.html' %}

{% load static %}

{% block content %}

    <main>
      <!-- Sign Up Area -->
      <section class="sign-up-wrapper overflow-hidden pt-215 pb-165">
        <div class="container">
          <div class="sign-up-box">
            <div class="bg-shapes">
              <div class="shape">
                <img src="{% static 'assets/images/signup/shape2.svg' %}" alt="Shape" />
              </div>
              <div class="shape" data-parallax='{"x":-30, "y": 0, "rotateY":0}'>
                <img src="{% static 'assets/images/signup/shape3.svg' %}" alt="Shape" />
              </div>
              <div class="shape">
                <img src="{% static 'assets/images/signup/shape4.svg' %}" alt="Shape" />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-images d-lg-block d-none">
                  <div
                    class="shapes object-element"
                    data-paroller-factor="0.1"
                    data-paroller-type="foreground"
                    data-paroller-direction="horizontal"
                    data-paroller-transition="transform .2s linear"
                  ></div>
                  <div class="shapes object-element"></div>
                  <div
                    class="shapes object-element"
                    data-paroller-factor="0.05"
                    data-paroller-type="foreground"
                    data-paroller-direction="horizontal"
                    data-paroller-transition="transform .2s linear"
                  ></div>
                  <div
                    class="shapes object-element"
                    data-paroller-factor="0.05"
                    data-paroller-type="foreground"
                    data-paroller-transition="transform .2s linear"
                  ></div>
                  <div
                    class="shapes object-element"
                    data-paroller-type="foreground"
                    data-paroller-factor="0.1"
                    data-paroller-transition="transform .2s linear"
                  ></div>
                  <div class="shapes">
                    <img src="{% static 'assets/images/signup/shape1.svg' %}" alt="Shape" />
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-wrapper">
                  <div class="text-center">
                    <h2 class="heading-3 mb-15">Create your account</h2>                    
                    <span class="divider">or</span>
                  </div>

                  <form action="{% url 'user-register' %}" class="sign-up-form" method="POST">
                    {% csrf_token %}

                    <div class="row">
                      
                      {% for field in form %}

                        <div class="col-md-12">
                          <label>{{field.label}}</label>
                          {{field}}
                        </div>

                        {% for error in field.errors  %}
                          <p style="color:red;">{{error}}</p>
                        {% endfor %}

                      {% endfor %}
                                     
                      <div class="col-md-12 mt-30">
                        <input class="btn btn-red" type="submit" value="Sign Up" />
                      </div>

                      <div class="col-md-12">
                        <p class="form-text mt-20">
                          Already have an account?
                          <a href="{% url 'user-login' %}">Sign in</a>
                        </p>
                        <p class="form-text mt-15">
                          By clicking “Sign up” you agree to our
                          <a href="#">Terms of Service.</a>
                        </p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sign Up Area -->
    </main>
    
{% endblock content %}
    