{% load static %}

<footer class="footer-area bg-black">
      
      <div class="container">
        <div class="footer-bottom">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <ul>
                <li><img src="{% static 'assets/images/logo-2.png' %}" alt="Logo Image" /></li>
                <li>
                  <span class="copyright">© 2023, Designed by <a href="#"></a>DeekieLabs</span>
                </li>
              </ul>
            </div>
            <div class="col-lg-5">
              <div class="footer-bottom-menu">
                <ul>
                  <li><a href="#">Terms & Conditions</a></li>                  
                </ul>
              </div>
            </div>
            <div class="col-lg-2">
              <ul class="social-link-bg">
                <li>
                  <a href="index.html#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="index.html#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="index.html#"><i class="fab fa-google-plus-g"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <span class="footer-shape"></span>
    </footer>