{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landpagy</title>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css'%}" />
    <!-- ElegentIcon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/elegant-icons.min.css'%}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}" />
    <!-- SwiperJs CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css'%}" />
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css'%}" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css'%}" />
    <!-- Toastr -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

