{% load static %}

<script src="{% static 'assets/js/plugin/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/bootstrap.min.js' %}"></script>
    <!-- TweenMax -->
    <script src="{% static 'assets/js/plugin/TweenMax.min.js' %}"></script>
    <!-- ScrollMagic -->
    <script src="{% static 'assets/js/plugin/ScrollMagic.js' %}"></script>
    <!-- animation.gsap -->
    <script src="{% static 'assets/js/plugin/animation.gsap.js' %}"></script>
    <!-- debug.addIndicators -->
    <script src="{% static 'assets/js/plugin/debug.addIndicators.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/squareCountDownClock.js' %}"></script>
    <script src="{% static 'assets/js/plugin/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.paroller.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.nice-select.min.js'%}"></script>